opis.wsdl

<?xml version="1.0" encoding ="utf-8"?>
<!--
(c) World Corp
2017-08-05
let you post/retrieve online message by SOAP protocol

Online WSDL 1.1 SOAP generator 0.2
Julien Blitte
 -->
<definitions name="let you post/retrieve online message by SOAP protocol"
             targetNamespace="us.world_corp.my_soap_forum.wsdl"
             xmlns:tns="us.world_corp.my_soap_forum.wsdl"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns:xsd1="us.world_corp.my_soap_forum.xsd"
             xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
             xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
             xmlns="http://schemas.xmlsoap.org/wsdl/">
    <!-- definition of datatypes -->
    <types>
        <schema targetNamespace="us.world_corp.my_soap_forum.xsd" xmlns="http://www.w3.org/2000/10/XMLSchema">
            <element name="name">
                <complexType><all><element name="value" type="string" /></all></complexType>
            </element>
            <element name="pass">
                <complexType><all><element name="value" type="string" /></all></complexType>
            </element>
            <element name="token">
                <complexType><all><element name="value" type="string" /></all></complexType>
            </element>
        </schema>
    </types>
    <!-- response messages -->
    <message name='returns_token'>
        <part name='token' type='xsd:token'/>
    </message>
    <!-- request messages -->
    <message name='login'>
        <part name='name' type='xsd:name'/>
        <part name='pass' type='xsd:pass'/>
    </message>
    <!-- server's services -->
    <portType name='my SOAP forum'>
        <operation name='login'>
            <input message='tns:login'/>
            <output message='tns:returns_token'/>
        </operation>
    </portType>
    <!-- server encoding -->
    <binding name='my SOAP forum_webservices' type='tns:my SOAP forum'>
        <soap:binding style='rpc' transport='http://schemas.xmlsoap.org/soap/http'/>
        <operation name='login'>
            <soap:operation soapAction='urn:xmethods-delayed-quotes#login'/>
            <input><soap:body use='encoded' namespace='urn:xmethods-delayed-quotes' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/'/></input>
            <output><soap:body use='encoded' namespace='urn:xmethods-delayed-quotes' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/'/></output>
        </operation>
    </binding>
    <!-- access to service provider -->
    <service name='exemple'>
        <port name='exemple_0' binding='my SOAP forum_webservices'>
            <soap:address location='https://nemanjadevelop.000webhostapp.com/server.php'/>
        </port>
    </service>
</definitions>
